-- 5. 정산 요자 정책 테이블 생성
CREATE TABLE IF NOT EXISTS public.commission_policies (
    id smallint PRIMARY KEY DEFAULT 1 CHECK (id = 1),
    base_margin integer DEFAULT 1000000,
    customer_payback integer DEFAULT 100000,
    sales_dealer_regular integer DEFAULT 200000,
    sales_dealer_master_override integer DEFAULT 100000,
    sales_dealer_master_direct integer DEFAULT 300000,
    sales_leader_regular integer DEFAULT 500000,
    sales_leader_master_direct integer DEFAULT 700000,
    exec_leader_master_override integer DEFAULT 100000,
    exec_leader_master_direct integer DEFAULT 200000,
    updated_at timestamp with time zone DEFAULT now()
);

-- 기본 정책 삽입
INSERT INTO public.commission_policies (id) VALUES (1) ON CONFLICT (id) DO NOTHING;

-- 권한 설정
ALTER TABLE public.commission_policies ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Allow
read
access
to
all
users\ ON public.commission_policies FOR SELECT USING (true);
CREATE POLICY \Allow
update
access
to
all
users\ ON public.commission_policies FOR UPDATE USING (true);


