@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }

  .animate-marquee-vertical {
    animation: marquee-vertical 20s linear infinite;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
}